 /* Reset */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI',Tahoma,Geneva, Verdana, sans-serif;
 }

 body {
      background: #f4f4f4;
      color: #333;
      line-height: 1.6;
 }
 body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
 }

 /* Header */
 header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    txt-align: center;
 }

 header nav {
    margin-top: center;
 }

 header nav {
    margin-top: 10px;
 }

 header nav a:hover {
    text-decoration: underline;
 }

 /*Section */
 section [
    padding: 50px 20px;
    text-align: center;
 ]

 section h2 {
    margin-bottom: 20px;
    color: #34495e;
 }

 .gallery-images img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
 }

 /* Contact Form */
 form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
 }

 form input, form textarea {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
 }

 form buttom {
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border radius: 5px;
    cursor: pointer;
 }

 form button:hover {
    background-color: #34495e;
 }

 /* Footer */
 footer {
    background: #004d66;
    color: #fff;
    text-align: center;;       
    padding: 1rem;
 }